*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing:0.6px;
}
body{
    background-color:rgb(243 243 243);
}
/* navbar start */
#navbar{
    position:fixed;
    top: 0px;
    width: 100%;
    height: 80px;
    display: flex;
    background-color: #ffffff;
    padding-bottom: 10px;
    margin-left: -5px;
}
#navbar>img{
    height: 70%;
    margin: auto auto auto auto;
    margin-left: 60px;
    margin-right: 200px;
    
}
#navbar>div>h1{
    
    padding-left: 10px;
    padding-right: 110px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px; 
      
}
#navbar>div>h1>a{
    text-decoration: none; 
    color:black;
}


#navbar>h1{
    height:80%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 70px;
    padding-bottom: -10px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    /* margin-bottom: 10px; */
    border-right:1px solid #ebebeb; 
    border-left:1px solid #ebebeb; 
   

}
#navbar>div>p{
    margin-top: -10px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    color:grey;
    margin-left: 10px;
    font-size: 14px;
    
}
#navbar>div{
    border-left:1px solid #ebebeb; 
   height:80%;
   margin-top:10px;
   margin-bottom: 10px;
}
#navbar>h1{
    border-bottom: 3px solid rgb(235, 20, 135); 
    color:rgb(235, 20, 135);
}

/* narbar end */
.heading{
    width: 90%;
   
    background-color: #e0edff;
    border: 1px solid #c7dfff;
    border-radius: 1px;
    margin: auto;
    margin-top: 120px;
    padding-left: 20px;
}
.option{
    width:90%;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 15px;
    padding-left: 20px;
    margin: auto;
}

/* payment container starts */

#container{
   
    width: 100%;
    height:auto;
    /* border: 1px solid red; */
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* margin-top: 120px; */
}
#container1{
    /* border:1px solid blue; */
    width:23%;
    height: 351.5px;

    
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    /* top: 120px; */
    
}
#container2{
    /* border:1px solid black; */
    width:44%;
    height:400px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    
}

#container3{
    /* border:1px solid blue; */
    width:30%;
    height:495px;
    /* background-color: #ffffff; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

    
}

/* container1 */
#container1>p{
    margin: 0px;
    margin-left: 10px;
    background-color: #ffffff;
    font-size: 16px;
    padding-top: 15px;
    padding-left: 9%;
    padding-right: auto;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(223, 215, 215)
    
}

#container1>p:first-child{

    font-weight: 600;
    /* margin-top: 0px; */
    /* width: 90%; */
    height:auto;
    color:rgb(235, 20, 135); 
    font-size: 16px;
    border-right: 4px solid rgb(235, 20, 135); 
    background-color: #ffffff;
    padding-top: 15px;
    padding-left: 9%;
    padding-right: auto;
    padding-bottom: 15px;
    margin: 0px;
}


/* container 2 address details */
form{
    width:95%;
    height:500px;
    margin: auto;
    
}
form>input{
    display: block;
    width: 98%;
    height: 40px;
    margin-top:10px;
    padding: 10px auto;
    font-size: 16px;
    border:0px;
    border-bottom: 1px solid rgb(223, 215, 215);
    margin-bottom: 20px;
   
}
.expiry{
    color: #8e8989;
}

#checkbox{
    display: flex;
    margin-top: 10px;
    margin-top: 50px; 
}
.check{
    width: 18px;
    height: 18px;
   
   
 }
 
 #checkbox>label{
     padding-top: 5px;
     margin-left: 10px;
    
 }
#btn{
    height: 60px;
    width: 98%;
    border: 0px;
    background-color: rgb(235, 20, 135); 
    color:white;
    margin-top: 50px;
    
}
a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
}
/* container 3 */

.edit{
   
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}
.edit>p:first-child{
    color: #fea838;
    cursor: pointer;
    font-size: 16px;
}
.edit>p:last-child{
    color: #fc2779;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}


#total{
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    font-size: 15px;
    padding-top: 10px;
    border-bottom: 1px solid #ebebeb;
    
}
.cartsum1{
    display: flex;
    justify-content: space-between;
    padding-left: 14px;
    padding-right: 14px;
    margin-top: -10px;
}
.flex1{
    display: flex;
    justify-content: space-between;
    padding-left: 14px;
    padding-right: 14px;
    margin-top: -10px;
    
}
.flex1>p:last-child{
    color:#4db6ac;
}
.flex2{
    display: flex;
    justify-content: space-between;
    padding-left: 14px;
    padding-right: 14px;
    margin-top: -10px;
    color:#4db6ac;
}

.flex3{
    width: 92%;
    display: flex;
    justify-content: space-between;
   
    margin: auto;
    margin-top: -10px;
    border-bottom: 1px solid rgb(223, 215, 215);    

}
.flex3>p:last-child{
    color: #fc2779;
}
.cartsum2{
    display: flex;
    justify-content: space-between;
    padding-left: 14px;
    padding-right: 14px;
    margin-top: -6px;
    border-bottom: 1px solid rgb(223, 215, 215);
    margin: auto;
    font-weight: 600;
}


/* address space */
#addspace{
    /* border: 1px solid black; */
    width: auto;
    height: 45%;
}
#addspace>div{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
#addspace>div>p{
    font-size: 14px;
    color: #fc2779;
    padding-top: 8px;
   
}

#customerAdd>div>p:first-child{
    font-weight: 600;
}

#customerAdd>div>p:last-child{
    font-weight: 600;
}









/* footer start */

#footer{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 290px);
    padding-top: 100px;
    padding-bottom: 60px;
    margin: auto;
    gap: 10px;
}

#footer>div{
    width:25%;
    display: grid;
    grid-template-columns: 50px 220px;
    gap: 20px;
}

#footer>div>div>img{
    width: 60px;
    height: 62px;
    object-fit:cover;
    padding-top: 10px;
    
}
/* footer end  */